[submodule "theme/pelican-bootstrap3"]
	path = theme/pelican-bootstrap3
	url = https://github.com/murphytalk/pelican-bootstrap3.git
[submodule "plugin/pelican-ipynb"]
	path = plugin/pelican-ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "plugin/pelican-plugins"]
	path = plugin/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
